* {
    font-family: "Ubuntu Nerd Font";
    font-size: 17px;
}

.bar {
    background: red;
}

button {
    all: unset;
}

.left {
    margin: 5px 0px 0px 5px;
}

.left > *:not(:last-child) {
    margin-right: 5px;
}

.center {
    margin: 5px 0px 0px 0px;
}

.center > *:not(:last-child) {
    margin-right: 5px;
}

.right {
    margin: 5px 5px 0px 0px;
}

.right > *:not(:last-child) {
    margin-right: 5px;
}

.box {
    padding: 10px;
    border-radius: 12px;
    background: #1e1e2e;
}

.workspaces button {
    all: unset;
    color: #a6e3a1;
    margin-left: 5px;
}

.green {
    color: #a6e3a1;
}

.yellow {
    color: #f9e2af
}

.red {
    color: #f38ba8;
}

.bg-green {
    background: #a6e3a1;
}

.bg-yellow {
    background: #f9e2af;
}

.bg-red {
    background: #f38ba8;
}

.mr-1 { 
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}
